{% extends 'base.html' %}

{% block content %}

<h1>
    Download PDF
</h1>
<div class="section">
    <div>
        Please upload the PDF to the Google Drive! The download starts after about 20 seconds.
    </div>

    <form action="/pdf/generate" method="POST" enctype="multipart/form-data">
        <input name="roll" value="{{ roll }}" type="hidden">
        <input name="count" value="{{ count }}" type="hidden">
        <div>
            <label for="ads_pdf">Advertisement PDF in A4</label>
            <input id="ads_pdf" type="file" name="ads_pdf" accept="application/pdf">
        </div>
        <div>
            <input type="submit" value="Download PDF">
        </div>
    </form>
</div>

<h2>Activation</h2>
<div class="section">
    <form action="/activation/step" method="POST">
        <div>
            <input name="roll" value="{{ roll }}" type="hidden">
        </div>
        <div>
            <input name="count" value="{{ count }}" type="hidden">
        </div>
        <div>
            <input type="submit" value="Activate in database">
        </div>
    </form>
</div>
{% endblock %}
