<!DOCTYPE html>ads_pdf
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Step</title>
</head>
<body>

<form action="/pdf/generate" method="POST" enctype="multipart/form-data">
    <input name="roll" value="{{ roll }}" type="hidden">
    <input name="count" value="{{ count }}" type="hidden">
    <div>
        <label for="ads_pdf">Which ads should be shuffled in? Format is A4</label>
        <input id="ads_pdf" type="file" name="ads_pdf" accept="application/pdf">
    </div>
    <div>
        <button>Download Voucher PDF</button>
    </div>
    <div>
        Please upload the PDF to the Google Drive!
    </div>
</form>

<form action="/activation/step" method="POST">
    <input name="roll" value="{{ roll }}" type="hidden">
    <input name="count" value="{{ count }}" type="hidden">
    <div>
        <button>Activate</button>
    </div>
</form>
</body>
</html>
