
.flash {
    font-weight: bold;
}

body {
    font-family: "sans", serif;
    line-height: 1.6;
    font-size: 16px;
    color: #444;
    margin: 0;
}

.wrapper {
    margin: 40px auto;
    max-width: 750px;
    padding: 0 10px;
}

h1, h2, h3 {
    line-height: 1.2;
    font-family: "sans", serif;
}

input[type=number], input[type=file], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.section {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 50px auto;
}

.flash {
    width: 100%;
    background-color: #9f0808;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}
