{% extends 'base.html' %}

{% block content %}

<h1>Step 1: How many voucher do you want to generate?</h1>

<div class="section">
    <form action="pdf/step" method="POST">
        <div>
            <label for="roll">Roll</label>
            <input name="roll" id="roll" value="1" type="number">
        </div>
        <div>
            <label for="count">Count</label>
            <input name="count" id="count" value="200" type="number">
        </div>
        <div>
            <input type="submit" value="Next">
        </div>
    </form>
</div>
{% endblock %}
