<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vpg</title>
</head>
<body>
<h1>vpg</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form action="pdf/step" method="POST">
    <div>
        <label for="roll">Which roll should we generate?</label>
        <input name="roll" id="roll" value="1" type="number">
    </div>
    <div>
        <label for="count">How many voucher to you want?</label>
        <input name="count" id="count" value="200" type="number">
    </div>
    <div>
        <button>Generate</button>
    </div>
</form>
</body>
</html>
